{% extends 'base.html.twig' %}

{% block title %}Hello HorseController!{% endblock %}


{% block body %}
    <div class="wrapper">
        <div class="text-center">
            <h3>The Rooster</h3>
        </div>
        <table class="horse">
            <thead>
            <tr>
                <th>Name</th>
                <th>RaceCount</th>
                <th>Wins</th>
            </tr>
            </thead>
            <tbody>
            {% for horse in horsesList %}
                <tr>
                    <td>{{ horse.name }}-{{ horse.id }}</td>
                    <td>{{ horse.racesCount }}</td>
                    <td>{{ horse.win }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}