<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}
            <link rel="stylesheet" href="{{ asset('css/mainTheme.css')}}">
            <link href="https://fonts.googleapis.com/css2?family=Anton&display=swap" rel="stylesheet">
        {% endblock %}

    </head>
    <body>
        <header>
                <div class="logo">
                    <h1><span class="anton">Welcome To Turf Lord </span><br> <span class="logo-small">Click on the Horse & Get the Money !!!</span></h1>
                </div>
        </header>
        <nav>
            <ul>
                <li>
                    <a href="{{ path('race') }}" alt="">Races</a>
                    <a href="{{ path('result') }}" alt="">Results</a>
                    <a href="{{ path('horse') }}" alt="">Horses</a>
                </li>
            </ul>
        </nav>
        {% block body %}{% endblock %}
        {% block javascripts %}{% endblock %}
    </body>
</html>
